<!DOCTYPE html>
<html lang="en">

<head>
   <title>About</title>
   <link rel="icon" href="/img/icon2.png" />
   <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p class="info">This app was created by me, Femi Ologunwa, as the first project from my learnig of node.js. I
         fetched weather data from an external service. The
         coding journey
         was a great experience</p>
      <img class="portrait" src="/img/person.jpg" />
   </div>

   {{>footer}}
</body>

</html>

<!--

   With views only and no partials

   <!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   <h1>{{title}}</h1>
   <img src="/img/person.jpg" />
   <h3>Created by {{name}}</h3>
</body>

</html>

->