<!DOCTYPE html>
<html lang="en">

<head>
   <title>Help</title>
   <link rel="icon" href="/img/icon2.png" />
   <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p>{{helpMsg}}</p>
   </div>

   {{>footer}}
</body>

</html>

<!--

   With Views only - no partials
<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
   {{>header}}
   <h1>Help - FAQ</h1>
   <p>{{helpMsg}}</p>
</body>

</html>
   
->